.rightpolicy{
    position: relative;
    top: 7rem;
    width: 85%;
    margin: 0 auto;
    padding: 5rem 0;
}
.rightpolicy .heading{
    font-size: 36px;
    width: 620px;
    color:#282828;
}
.rightpolicy .main-block{
   display: flex; 
   flex-wrap: wrap;
}
.rightpolicy .main-block .inner-block {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.rightpolicy .main-block .inner-block .in-block{
    width: 46%;
    padding: 1rem;
    margin: 0 auto;
    box-shadow: 0px 4px 8px 0px #00000040;
}

.rightpolicy .main-block .inner-block .in-block .number{
    background: #005f83;
    color: #fff;
    margin-right: 10px;
    display: inline-block;
    line-height: 0px;
    border-radius: 50%;
}

.rightpolicy .main-block .inner-block .in-block .number span{
    display: inline-block;
            padding-top: 50%;
            padding-bottom: 50%;
            margin-left: 8px;
            margin-right: 8px;
}


.inner-block .in-block .heading{
    font-size: 24px;
    margin-bottom: 1rem;
}

.inner-block .in-block .heading .text-blue{
    color:#005F83
}

.inner-block .in-block .heading .text-green{
    color:#007B83
}

.inner-block .in-block .description{
    font-size: 18px;
    color:#000000;
}
